{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block heroContent %}
	<img class="big404Image" src="/assets/images/404.png" alt="404" />
	<div class="textContainer404">
		<h1 class="heading404"><strike>We couldn't find the page...</strike></h1>
		<h2 class="hero-heading smallHeroheading subheading404">This is a new styling!</h2>
		<h3 class="copy404">just smile &amp; keep dancing :) <br/> and use the main menu</h3>
	</div>
{% endblock %}


{% block content %}
	<!-- <div class="w-section section">
		<div class="w-container container">
			<img src="/assets/images/404.png" alt="404" />
		</div>
	</div> -->
{% endblock %}
