{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<!-- This site design was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri May 27 2016 10:15:31 GMT+0000 (UTC) -->
<html>
<head>

	{% hook 'seomaticRender' %}

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=JyyEybBRnr">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=JyyEybBRnr">
	<link rel="icon" type="image/png" href="/favicon-32x32.png?v=JyyEybBRnr" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=JyyEybBRnr" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png?v=JyyEybBRnr" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png?v=JyyEybBRnr" sizes="16x16">
	<link rel="manifest" href="/manifest.json?v=JyyEybBRnr">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=JyyEybBRnr" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v=JyyEybBRnr">
	<meta name="apple-mobile-web-app-title" content="Citadel Swing">
	<meta name="application-name" content="Citadel Swing">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=JyyEybBRnr">
	<meta name="theme-color" content="#d90246">

	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/webflow.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/citadel-swing.webflow.css">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ["Oswald:300,400,700","Montserrat:400,700"]
			}
		});
	</script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript">
		// GA CODE HERE
	</script>
</head>
<body>
	<div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1" data-ix="hide-scroll-nav" class="w-nav mobilenav">
		<div class="w-container">
			<a href="/" class="w-nav-brand brand floating"><img width="175" src="/assets/images/logo-small-white2.png" class="floating-nav-logo" alt="Citadel Swing logo">
			</a>
			<nav class="w-nav-menu nav-menu">
				{% if entry is defined and  entry.section.handle == "homepage" %}
					<a href="#home" class="w-nav-link main-menu-item float">Home</a>
				{% else %}
					<a href="/" class="w-nav-link main-menu-item float">Home</a>
				{% endif %}
				<div class="w-dropdown" data-delay="0">
					<div class="main-menu-item w-dropdown-toggle float">
						<div>Info</div>
						<div class="w-icon-dropdown-toggle"></div>
					</div>
					<nav class="menu-dropdown-list w-dropdown-list" >
						<a class="main-menu-item subitem w-dropdown-link" href="/schedule">Schedule</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/faqs">FAQs</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/the-plan">The Plan</a>
						<a class="main-menu-item subitem w-dropdown-link" href="/prices">Prices</a>
					</nav>
				</div>
				<a href="/about-the-city-timisoara" class="w-nav-link main-menu-item float">The City</a>
				<a href="/order" class="w-nav-link main-menu-item float">Buy Tickets</a>
				<a href="/#join-us" class="w-nav-link main-menu-item float">Join Us</a>
			</nav>
			<div class="w-nav-button main-menu-mobile-button">
				<div class="w-icon-nav-menu main-menu-icon"></div>
			</div>
		</div>
	</div>
	<!-- / mobile menu -->

	<div class="w-section hero">
		<div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1" data-ix="scroll-nav" class="w-nav navbar">
			<div class="w-container">
				<a class="brand w-nav-brand" href="/"><img src="/assets/images/logo-small-white2.png" width="254" alt="Citadel Swing logo">
				</a>
				<nav class="nav-menu w-nav-menu">
					{% if entry is defined and  entry.section.handle == "homepage" %}
						<a class="main-menu-item w-nav-link" href="#home">Home</a>
					{% else %}
						<a class="main-menu-item w-nav-link" href="/">Home</a>
					{% endif %}
					<div class="w-dropdown" data-delay="0">
						<div class="main-menu-item w-dropdown-toggle">
							<div>Info</div>
							<div class="w-icon-dropdown-toggle"></div>
						</div>
				    	<nav class="menu-dropdown-list w-dropdown-list">
				    		<a class="main-menu-item subitem w-dropdown-link" href="/schedule">Schedule</a>
				    		<a class="main-menu-item subitem w-dropdown-link" href="/faqs">FAQs</a>
				    		<a class="main-menu-item subitem w-dropdown-link" href="/the-plan">The Plan</a>
				    		<a class="main-menu-item subitem w-dropdown-link" href="/prices">Prices</a>
						</nav>
					</div>
					<!-- <a class="main-menu-item w-nav-link" href="/#the-plan">The Plan</a> -->
					<a class="main-menu-item w-nav-link" href="/about-the-city-timisoara">The City</a>
					<a class="main-menu-item w-nav-link" href="/order">Buy Tickets</a>
					<a class="main-menu-item w-nav-link" href="/#join-us">Join Us</a>
				</nav>
				<div class="main-menu-mobile-button w-nav-button">
				  <div class="main-menu-icon w-icon-nav-menu"></div>
				</div>
			</div>
			<!-- /.w-container -->
		</div>
		<!-- /.w-nav navbar -->

		<div id="home" data-ix="scroll-nav" class="big-logo-bg">
			<div class="w-container">
			{% block heroContent %}

			<p>If you see this, something's wrong. Now go fix it, pls.</p>

			{% endblock %}
			</div>
			<!-- /.w-container -->
		</div>
		<!-- /.big-logo-bg -->
	</div>
	<!-- /.hero -->
<main>	
{% block content %}

	<p>If you see me, something's wrong. Now go fix it pls.</p>


{% endblock %}
</main>
<div class="w-section section footerSection">
	<div class="w-container">
			<footer>
				<!-- <div class="footerMenu">
					<a href="#home" class="float">Home</a>
					<a href="#the-plan" class="float">The Plan</a>
					<a href="#pricing" class="float">Buy Tickets</a>
					<a href="#join-us" class="float">Join Us</a>
				</div> -->
				<p>Copyright &copy;{{ now.year }} <a href="https://www.facebook.com/SwinginStepsTimisoara/" target="_blank">Swingin Steps</a>. All rights reserved{#  •   #}</p>
			</footer>
	</div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/webflow.js"></script>
	<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>
