{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">Ticket Prices</h1>
{% endblock %}

{% block content %}

	<div class="w-section section"> 

		<div class="w-container container ticketWrapper">

			<div class="ticket expired">
				<h2>Early Bird Pass - &euro;55</h2>
				<h3>sales ended</h3>
				<p>This includes full access to the workshop level of your choice (8 hours total), full access to all 3 parties and the possibility to register for the JnJ competition.</p>
			</div>
			<!-- /.ticket -->

			<div class="ticket main">
				<h2>Full Pass - &euro;70</h2>
				<h3>Sales end September 18th, 2016</h3>
				<p>This includes full access to the workshop level of your choice (8 hours total), full access to all 3 parties and the possibility to register for the JnJ competition.</p>
			</div>
			<!-- /.ticket -->

			<div class="ticket special">
				<h2>Joker Option Add-On - &euro;10</h2>
				<h3>Sales end on Sep 23, 2016</h3>
				<p>The Joker Option extends your regular Pass with 2 extra workshop hours from another workshop level for a total of 10 workshop hours! Only select the Joker Option together with a regular Pass. Buying the Joker Option by itself has no value!</p>
			</div>
			<!-- /.ticket -->

			<div class="ticket competition">	
				<h2>Jack &amp; Jill Competition - &euro;5</h2>
				<h3>Sales end September 23rd, 2016</h3>
				<p>This Ticket allows you to participate in the Jack &amp; Jill Competition.</p>
			</div>
			<!-- /.ticket -->

			<div class="ticket">
				<h2>Party Pass - &euro;25</h2>
				<h3>Sales end on Sep 23, 2016</h3>
				<p>Full access to all 3 parties. You don't need this if you buy any workshop pass. This is only for those who don't want to attend the workshops but still want to get down and party with everyone else. It also gives you the possibility to register for the JnJ competition.</p>
			</div>
			<!-- /.ticket -->

			<div class="ticket upcoming">
				<h2>On the Spot Pass - &euro;85</h2>
				<h3>Sales not started</h3>
				<p>This includes full access to the workshop level of your choice (8 hours total), full access to all 3 parties and the possibility to register for the JnJ competition.</p>
			</div>
			<!-- /.ticket -->

	 	</div>
	 	<!-- /.w-container container alternateSection-->
	</div>
	<!-- /.w-section section -->

{% endblock %}