{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">Full Schedule</h1>
{% endblock %}

{% block content %}

	<div class="w-section section">
		<div class="w-container container">


		{% set scheduleDays = ['friday', 'saturday', 'sunday'] %}

		{% for day in scheduleDays %}
			
			{% set heading = attribute(entry, day~"Heading") %}
			{% set matrix = attribute(entry, day~"ScheduleTable") %}

			<h2 class="section-heading"><span class="heading-underline">{{ heading }}</span></h2>

			<table class="scheduleTable">
				<thead>
					<tr class="scheduleHeaderRow">
						<td rowspan="2" class="tableHeaderBorderRightDashed">Time</td>
						<td colspan="2">Locations</td>
					</tr>
					<tr class="scheduleHeaderRow">
						{% if day != "friday" %}
						<td class="tableHeaderBorderRight">Dance Spirit</td>
						<td>Dance Stage</td>
						{% else %}
						<td class="tableHeaderBorderRight" colspan="2">Dance Spirit</td>	
						{% endif %}
					</tr>
				</thead>
				<tbody>

					
			{% for key,block  in matrix %}

				{% if key%2 == 0  %}
					{% set rowClass = ' class=alternateTableRow' %}
				{% else %}
					{% set rowClass = '' %}
				{% endif %}

				{% if block.type == "rowWith2items" %}
					

					{% if "Adam" in block.firstColumnEvent %}
						{% set firstCellColorClass = " cellAdamRita" %}
					{% elseif "Maxime" in block.firstColumnEvent %}
						{% set firstCellColorClass = " cellMaximeTorri" %}
					{% else %}
						{% set firstCellColorClass = "" %}
					{% endif %}

					{% if "Adam" in block.secondColumnEvent %}
						{% set secondCellColorClass = ' class=cellAdamRita' %}
					{% elseif "Maxime" in block.secondColumnEvent %}
						{% set secondCellColorClass = ' class=cellMaximeTorri' %}
					{% else %}
						{% set secondCellColorClass = '' %}
					{% endif %}

															
					<tr{{  rowClass }}>
						<td class="timeColumn {{ block.duration }}">{{ block.time }}</td>
						<td class="scheduleCellBorderRight{{ firstCellColorClass }}">{{ block.firstColumnEvent }}
							{% if block.firstColumnEventDetails != "" %}
							<a href="#" class="shceduleMoreLink">details</a>
							{% endif %}
						</td>
						<td{{ secondCellColorClass }}>{{ block.secondColumnEvent }}
							{% if block.secondColumnEventDetails != "" %}
							<a href="#" class="shceduleMoreLink">details</a>
							{% endif %}
						</td>
					</tr>
					{% if block.firstColumnEventDetails != "" %}
					<tr class="detailsRow">
						<td class="detailsrowBorderRightDashed"></td>
						<td class="scheduleMoreInfo" colspan="3">{{ block.firstColumnEventDetails }}</td>
					</tr>
					{% endif %}
					{% if block.secondColumnEventDetails != "" %}
					<tr class="detailsRow">
						<td class="detailsrowBorderRightDashed"></td>
						<td class="scheduleMoreInfo" colspan="3">{{ block.secondColumnEventDetails }}</td>
					</tr>
					{% endif %}
					
				{% elseif block.type == "rowWithSingleItem" %}
					<tr{{  rowClass }}>
						<td class="timeColumn {{ block.duration }}">{{ block.time }}</td>
						<td colspan="2">{{ block.commonEvent }}
						{% if block.eventDetails != "" %}
						<a href="#" class="shceduleMoreLink">details</a>
						{% endif %}
						</td>
					</tr>
					{% if block.eventDetails != ""   %}
					<tr class="detailsRow">
						<td class="detailsrowBorderRightDashed"></td>
						<td class="scheduleMoreInfo" colspan="3">
							{{ block.eventDetails }}
						</td>
					</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
				</tbody>
			</table>
		
		{% endfor %}





		</div>
	</div>

{% endblock %}