{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">Tickets!<br/> Get your Tickets here!</h1>
{% endblock %}

{% block content %}

	<div class="w-section section">
		<div class="w-container container">


		{% set scheduleDays = ['friday', 'saturday', 'sunday'] %}

		{% for day in scheduleDays %}
			
			{% set heading = attribute(entry, day~"Heading") %}
			{% set matrix = attribute(entry, day~"ScheduleTable") %}

			<h2 class="section-heading"><span class="heading-underline">{{ heading }}</span></h2>

			<table class="scheduleTable">
				<thead>
					<tr>
						<td rowspan="2">Time</td>
						<td colspan="2">Locations</td>
					</tr>
					<tr>
						
						<td>Dance Spirit</td>
						<td>Dance Stage</td>
					</tr>
				</thead>
				<tbody>

					
			{% for key,block  in matrix %}

				{% if key%2 == 0  %}
					{% set rowClass = ' class="alternateTableRow"' %}
				{% else %}
					{% set rowClass = '' %}
				{% endif %}

				{% if block.type == "rowWith2items" %}							
					<tr{{  rowClass }}>
						<td class="timeColumn {{ block.duration }}">{{ block.time }}</td>
						<td>{{ block.firstColumnEvent }}
							{% if block.firstColumnEventDetails != "" %}
							<a href="#" class="shceduleMoreLink"><span>+</span> details</a>
							{% endif %}
						</td>
						<td>{{ block.secondColumnEvent }}
							{% if block.secondColumnEventDetails != "" %}
							<a href="#" class="shceduleMoreLink"><span>+</span> details</a>
							{% endif %}
						</td>
					</tr>
					{% if block.firstColumnEventDetails != "" %}
					<tr class="detailsRow">
						<td></td>
						<td class="scheduleMoreInfo" colspan="2">{{ block.firstColumnEventDetails }}</td>
					</tr>
					{% endif %}
					{% if block.secondColumnEventDetails != "" %}
					<tr class="detailsRow">
						<td></td>
						<td class="scheduleMoreInfo" colspan="2">{{ block.secondColumnEventDetails }}</td>
					</tr>
					{% endif %}
					
				{% elseif block.type == "rowWithSingleItem" %}
					<tr{{  rowClass }}>
						<td class="timeColumn {{ block.duration }}">{{ block.time }}</td>
						<td colspan="2">{{ block.commonEvent }}
						{% if block.eventDetails != "" %}
						<a href="#" class="shceduleMoreLink"><span>+</span> details</a>
						{% endif %}
						</td>
					</tr>
					{% if block.eventDetails != ""   %}
					<tr class="detailsRow">
						<td></td>
						<td class="scheduleMoreInfo" colspan="2">
							{{ block.eventDetails }}
						</td>
					</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
				</tbody>
			</table>
		
		{% endfor %}





		</div>
	</div>

{% endblock %}