{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">The Plan</h1>
{% endblock %}

{% block content %}

	<div class="w-section section">
		<div class="w-container container">
			<h2>Workshops</h2>
			<p>Your workshops start on Friday at 21:00 with the Auditions. You will get 3 songs to dance on. You will rotate before each song.</p>
			<p>This will help us ensure that you picked the right level for you, so you can get the most out of this Event. After the audition you will recieve your event wristband at the registration desk.</p>
			<p>If you have missed your audition or have any problem with it, please look for Andrei or Lumi.</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section alternateSection">
		<div class="w-container container">
			<h2>Parties</h2>
			<p><<<<<<<<<<<<<<<WE ARE MISSING CONTENT HERE>>>>>>>>>>>>>>>>> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat ullam impedit, quo, incidunt molestias sit maiores atque commodi omnis facere magni suscipit explicabo possimus ut veritatis nihil. Quo, non, iusto!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, blanditiis dicta laboriosam perspiciatis animi, cumque voluptates, quia aliquam quos quaerat architecto! Hic qui temporibus et iusto perspiciatis tenetur ducimus repellat?</p>
			<p>If you have missed your audition or have any problem with it, please look for Andrei or Lumi.</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section">
		<div class="w-container container">
			<h2>JnJ + Themed Competitions</h2>
			
			<p>For this edition of Citadel Swing we are only offering two JnJ competition levels: Newcomer &amp; Novice.</p>
			<p>If enough Intermediate / Advanced Dancers register, we will extend the competition levels. </p>
			<p>Registration for the JnJ competitions end on Saturday, 17:00! Late entries will not be accepted, sorry!
			You will get 3 songs. You will rotate before each song.</p>

			<h3>Marshalling</h3>
			<p>"Your competition starts on Saturday, 19:00 with Marshalling! </p>
			<p>We will post the heats in time so you know when you have to participate. We will place you in the right order and the whole heat marches onto the dancefloor at once. This will help us be on time."</p>

			<h3>Themed Competition</h3>
			<p>On Friday night at 22:00 everybody will participate in this really fun competition. The rules will be announced on the spot. Keep that tension rising ... >:)</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section alternateSection">
		<div class="w-container container">
			<h2>Marketplace</h2>
			<p><<<<<<<<<<MISSING CONTENT HERE!>>>>>>>>>>>>>>>>></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed iste neque, porro nam tempore delectus! Quaerat incidunt ea ratione in maiores sequi facere maxime ipsam, quo molestias ut minima repellat.</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

{% endblock %}