{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">The Plan</h1>
{% endblock %}

{% block content %}

	<div class="w-section section">
		<div class="w-container container">
			<h2>Workshops</h2>
			<p>Your workshops start on Friday at 21:00 with the Auditions. You will get 3 songs to dance on. You will rotate before each song.</p>
			<p>This will help us ensure that you picked the right level for you, so you can get the most out of this Event. After the audition you will recieve your event wristband at the registration desk.</p>
			<p>If you have missed your audition or have any problem with it, please look for Andrei or Lumi.</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section alternateSection">
		<div class="w-container container">
			<h2>Parties</h2>
			<p>Workshops are amazing! You improve your technique and learn new moves. Learning is the first part however, we all know that practice makes perfect and what better way to practice than a party? Or actually three parties! </p>
			<h3>Friday's Party</h3>
			<p>The first will be on Friday where you can take the opportunity to meet your colleagues for the next few days. </p>
			<h3>Themed Saturday's Party</h3>
			<p>The second party will be on Saturday and in order to spice things up a little, it will be Medieval Themed. We don't expect you to have medieval clothing in your wardrobe, so don't get out of your way to purchase some. Feel free to get creative with what you have: corsettes, vests &amp; other stuff. We still want this party to be a memorable one, so we will provide a few props and costumes which you can use to take pictures.</p>
			<h3>Sunday's Party</h3>
			<p>The third and last party of the event will be on Sunday. Use this opportunity to dance until the sun comes up and share contacts with your new friends, you will deffenitely meet them at other events, so stay in touch. :-)</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section">
		<div class="w-container container">
			<h2>JnJ + Themed Competitions</h2>
			
			<p>For this edition of Citadel Swing we are only offering two JnJ competition levels: Newcomer &amp; Novice.</p>
			<p>If enough Intermediate / Advanced Dancers register, we will extend the competition levels. </p>
			<p>Registration for the JnJ competitions end on Saturday, 17:00! Late entries will not be accepted, sorry!
			You will get 3 songs. You will rotate before each song.</p>

			<h3>Marshalling</h3>
			<p>"Your competition starts on Saturday, 19:00 with Marshalling! </p>
			<p>We will post the heats in time so you know when you have to participate. We will place you in the right order and the whole heat marches onto the dancefloor at once. This will help us be on time."</p>

			<h3>Themed Competition</h3>
			<p>On Friday night at 22:00 everybody will participate in this really fun competition. The rules will be announced on the spot. Keep that tension rising ... >:)</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

	<div class="w-section section alternateSection">
		<div class="w-container container">
			<h2>Marketplace</h2>
			<p>Before being event organizers and West Coast Swing promoters, we were (and still are) dancers. As dancers we found it hard to find and purchase dance wear. We struggled to find the right pair of dancing shoes &amp; clothing to complement us on the dancefloor. We thought of many ways to make this easier for us and for you, so the Marketplace is the best idea we had so far.</p>

			<p>So what is this Marketplace about?</p>
			<h3>Dancers</h3>
			<p>First of all, it's about you, the dancer! If you want to get that new pair of shoes or cool shirts and accessories, you will have the chance to browse through the available items.</p>
			<h3>Creators</h3>
			<p>Second of all, it's about you, the creative soul! If you personalize or distribute dancing shoes, clothing or accessories make the most fo this opportunity and show them all off. Bring your stuff and we will make sure that you have a reserved spot to advertise &amp; sell it. There are no costs involved, we want you to keep all the profits. Please contact us as soon as you decide to participate in the marketplace, so that we can take care of the organisational aspects.</p>
			<h3>Manufacturers</h3>
			<p>And last but not least, it's about them, our local manufacturers &amp; partners. They all make our lives as dancers much easier and we feel that it is our responsibility to help them get to know you and your needs. Below you can find a list of partners who already confirmed their attendance to the Citadel Swing Marketplace. Please check back often, as this list will get updated as soon as others will confirm.</p>

			<p>The Marketplace will be held on Sunday from 16:30 until 18:30. See you there!</p>
		
			<p>Partners: Mihuta International, Carola Szucsik Design, Lili Marleen</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

{% endblock %}