{% extends "_layout" %}

{% block heroContent %}
	<h1 class="hero-heading smallHeroheading">The Plan</h1>
{% endblock %}

{% block content %}

	<div class="w-section section">
		<div class="w-container container">
			<h2>Workshops</h2>
			<p>Your workshops start on Friday at 21:00 with the Auditions. You will get 3 songs to dance on. You will rotate before each song.</p>
			<p>This will help us ensure that you picked the right level for you, so you can get the most out of this Event. After the audition you will recieve your event wristband at the registration desk.</p>
			<p>If you have missed your audition or have any problem with it, please look for Andrei or Lumi.</p>
		</div>
		<!-- /.w-container container-->
	</div>
	<!-- /.w-section section-->

{% endblock %}